body{
    background-color: black;
}

h1{
background-color: brown;
color:burlywood;
font-family: fantasy;
text-align: center;
}

div.intro{
    border-radius: 20px;
    border: 2px dotted white;
    color: burlywood;
    font-family: Verdana, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Tahoma, sans-serif;
    text-align: center;
}
.final{
    margin-left: 574px;
    margin-top: 10px;
    height: 189px;
    width: 177px;
    background-color: gray;   
    opacity: 0.2;
    border: 3px solid brown;
    }
 #boxf1{
margin-top: -185px;
margin-left: 580px;
width: 50px;
height: 50px;
border: 10px;
background-color: red;
border: 1px solid black;
}
#boxf2{
    margin-top: -52px;
    margin-left: 640px;
    width: 50px;
    height: 50px;
    border: 10px;
    background-color: red;
    border: 1px solid black;
}
#boxf3{
    margin-top: -52px;
    margin-left: 700px;
    width: 50px;
    height: 50px;
    border: 10px;
    background-color: red;
    border: 1px solid black;
    }
#boxf4{
margin-top: 10px;
margin-left: 580px;
width: 50px;
height: 50px;
border: 10px;
background-color: red;
border: 1px solid black;
}
#boxf5{
    margin-top: -52px;
    margin-left: 640px;
    width: 50px;
    height: 50px;
    border: 10px;
    background-color: red;
    border: 1px solid black;
}
#boxf6{
    margin-top: -52px;
    margin-left: 700px;
    width: 50px;
    height: 50px;
    border: 10px;
    background-color: red;
    border: 1px solid black;
}
#boxf7{
    margin-top: 10px;
    margin-left: 580px;
    width: 50px;
    height: 50px;
    border: 10px;
    background-color: red;
    border: 1px solid black;
}
#boxf8{
    margin-top: -52px;
    margin-left: 640px;
    width: 50px;
    height: 50px;
    border: 10px;
    background-color: red;
    border: 1px solid black;
}
#boxf9{
    margin-top: -52px;
    margin-left: 700px;
    width: 50px;
    height: 50px;
    background-color: red;
    border: 1px solid black;
}
#box1{
    margin-left: 480px;
    margin-top: 80px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid gray;
    outline: 5px solid gray;
    opacity: 0.8;
}
#box2{
    margin-left: 6px;
    margin-top: -75px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid gray;
    outline: 5px solid gray;
    opacity: 0.8;
}
#box3{
    margin-left: 6px;
    margin-top: -75px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid gray;
    outline: 5px solid gray;
    opacity: 0.8;
}
#box4{
    margin-left: 6px;
    margin-top: -75px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid gray;
    outline: 5px solid gray;
    opacity: 0.8;
}
#box5{
    margin-left: 6px;
    margin-top: -75px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid gray;
    outline: 5px solid gray;
    opacity: 0.8;
}
#box6{
    margin-left: 480px;
    margin-top: 8px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid gray;
    outline: 5px solid gray;
    opacity: 0.8;
}
#box7{
    margin-left: 6px;
    margin-top: -75px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid gray;
    outline: 5px solid black;
    opacity: 0.8;
}
#box8{
    margin-left: 6px;
    margin-top: -75px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid gray;
    outline: 5px solid black;
    opacity: 0.8;
}
#box9{
    margin-left: 6px;
    margin-top: -75px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid gray;
    outline: 5px solid black;
    opacity: 0.8;
}
#box10{
    margin-left: 6px;
    margin-top: -75px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid gray;
    outline: 5px solid gray;
    opacity: 0.8;
}

#box11{
    margin-left: 480px;
    margin-top: 8px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid gray;
    outline: 5px solid gray;
    opacity: 0.8;
}
#box12{
    margin-left: 6px;
    margin-top: -75px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid gray;
    outline: 5px solid black;
    opacity: 0.8;
}
#box13{
    margin-left: 6px;
    margin-top: -75px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid gray;
    outline: 5px solid black;
    opacity: 0.8;
}
#box14{
    margin-left: 6px;
    margin-top: -75px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid gray;
    outline: 5px solid black;
    opacity: 0.8;
}
#box15{
    margin-left: 6px;
    margin-top: -75px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid gray;
    outline: 5px solid gray;
    opacity: 0.8;
}
#box16{
    margin-left: 480px;
    margin-top: 8px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid gray;
    outline: 5px solid gray;
    opacity: 0.8;
}
#box17{
    margin-left: 6px;
    margin-top: -75px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid gray;
    outline: 5px solid black;
    opacity: 0.8;
}
#box18{
    margin-left: 6px;
    margin-top: -75px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid gray;
    outline: 5px solid black;
    opacity: 0.8;
}
#box19{
    margin-left: 6px;
    margin-top: -75px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid gray;
    outline: 5px solid black;
    opacity: 0.8;
}
#box20{
    margin-left: 6px;
    margin-top: -75px;
    background-color: red;
    border: 1px solid gray;
    outline: 5px solid gray;
    opacity: 0.8;
}
#box21{
    margin-left: 480px;
    margin-top: 8px;
    background-color: red;
    border: 1px solid gray;
    outline: 5px solid gray;
    opacity: 0.8;
}
#box22{
    margin-left: 6px;
    margin-top: -75px;
    background-color: red;
    border: 1px solid gray;
    outline: 5px solid gray;
    opacity: 0.8;
}
#box23{
    margin-left: 6px;
    margin-top: -75px;
    background-color: red;
    border: 1px solid gray;
    outline: 5px solid gray;
    opacity: 0.8;
}
#box24{
    margin-left: 6px;
    margin-top: -75px;
    background-color: red;
    border: 1px solid gray;
    outline: 5px solid gray;
    opacity: 0.8;
}
#box25{
    margin-left: 6px;
    margin-top: -75px;
    background-color: gray;
    border: 1px solid gray;
    outline: 5px solid gray;
    opacity: 0.8;
}
#tab{
    margin-left: 460px;
    margin-top: -440px;
    height: 430px;
    width: 430px;
    background-color: whitesmoke;
    display: none;
    font-size: 40px;
    text-align: center;
    opacity: 0.9;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#time{
    height: 55px;
    width: 140px;
    margin-left: 40px;
    margin-top: 0px;
    text-align: center;
    background-color: red;
    opacity: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    display: inherit;
}
#score{
    height: 55px;
    width: 140px;
    margin-left: 250px;
    margin-top: -70px;
    text-align: center;
    background-color: red;
    opacity: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    display: inherit;
}
#pa{
    height: 40px;
    width: 100px;
    margin-top: 20px;
    margin-left: 165px;
    background-color: red;
    opacity: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    display: inherit;
    cursor: pointer;

}
/*
.gameboard{
    margin-left: 430px;
    margin-top: -455px;
    height: 470px;
    width: 470px;
    background-color: gainsboro;
    opacity: 0.2;
}
*/
.button{
    height: 70px;
    width: 70px;
    cursor: pointer;
    pointer-events: visible; 
    transition: 0.3s;
    display: inline-block;
}
.play-again{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blanchedalmond;
    margin-top: 900px;
    text-align: center;
}
