body{
    background-color: black;
}

h1{
background-color: brown;
color:burlywood;
font-family: fantasy;
text-align: center;
}

div.intro{
    border-radius: 20px;
    border: 2px dotted white;
    color: burlywood;
    font-family: Verdana, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Tahoma, sans-serif;
    text-align: center;
}
 #boxf1{
margin-top: -185px;
margin-left: 580px;
width: 50px;
height: 50px;
border: 10px;
background-color: red;
border: 1px solid white;
}
#boxf2{
    margin-top: -52px;
    margin-left: 640px;
    width: 50px;
    height: 50px;
    border: 10px;
    background-color: red;
    border: 1px solid white;
}
#boxf3{
    margin-top: -52px;
    margin-left: 700px;
    width: 50px;
    height: 50px;
    border: 10px;
    background-color: red;
    border: 1px solid white;
    }
#boxf4{
margin-top: 10px;
margin-left: 580px;
width: 50px;
height: 50px;
border: 10px;
background-color: red;
border: 1px solid white;
}
#boxf5{
    margin-top: -52px;
    margin-left: 640px;
    width: 50px;
    height: 50px;
    border: 10px;
    background-color: red;
    border: 1px solid white;
}
#boxf6{
    margin-top: -52px;
    margin-left: 700px;
    width: 50px;
    height: 50px;
    border: 10px;
    background-color: red;
    border: 1px solid white;
}
#boxf7{
    margin-top: 10px;
    margin-left: 580px;
    width: 50px;
    height: 50px;
    border: 10px;
    background-color: red;
    border: 1px solid white;
}
#boxf8{
    margin-top: -52px;
    margin-left: 640px;
    width: 50px;
    height: 50px;
    border: 10px;
    background-color: red;
    border: 1px solid white;
}
#boxf9{
    margin-top: -52px;
    margin-left: 700px;
    width: 50px;
    height: 50px;
    background-color: red;
    border: 1px solid white;
}
.final{
margin-left: 574px;
margin-top: 10px;
height: 189px;
width: 177px;
background-color: aliceblue;   
opacity: 0.2;
border: 3px solid brown;
}
.play-again{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blanchedalmond;
    margin-top: 900px;
    text-align: center;
}

#box1{
    margin-left: 450px;
    margin-top: 80px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid white;
}
#box2{
    margin-left: 540px;
    margin-top: -72px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid white;
}
#box3{
    margin-left: 630px;
    margin-top: -72px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid white;
}
#box4{
    margin-left: 720px;
    margin-top: -72px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid white;
}
#box5{
    margin-left: 810px;
    margin-top: -72px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid white;
}
#box6{
    margin-left: 450px;
    margin-top: 20px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid white;
}
#box7{
    margin-left: 540px;
    margin-top: -72px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid white;
}
#box8{
    margin-left: 630px;
    margin-top: -72px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid white;
}
#box9{
    margin-left: 720px;
    margin-top: -72px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid white;
}
#box12{
    margin-left: 540px;
    margin-top: -72px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid white;
}
#box13{
    margin-left: 630px;
    margin-top: -72px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid white;
}
#box14{
    margin-left: 720px;
    margin-top: -72px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid white;
}
#box17{
    margin-left: 540px;
    margin-top: -72px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid white;
}
#box18{
    margin-left: 630px;
    margin-top: -72px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid white;
}
#box19{
    margin-left: 720px;
    margin-top: -72px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid white;
}
#box10{
    margin-left: 810px;
    margin-top: -72px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid white;
}

#box11{
    margin-left: 450px;
    margin-top: 20px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid white;
}
#box15{
    margin-left: 810px;
    margin-top: -72px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid white;
}
#box16{
    margin-left: 450px;
    margin-top: 20px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid white;
}
#box20{
    margin-left: 810px;
    margin-top: -72px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid white;
}
#box21{
    margin-left: 450px;
    margin-top: 20px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid white;
}
#box22{
    margin-left: 540px;
    margin-top: -72px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid white;
}
#box23{
    margin-left: 630px;
    margin-top: -72px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid white;
}
#box24{
    margin-left: 720px;
    margin-top: -72px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid white;
}
#box25{
    margin-left: 810px;
    margin-top: -72px;
    height: 70px;
    width: 70px;
    background-color: red;
    border: 1px solid white;
}